Package            Version   
------------------ ----------
asgiref            3.2.5     
beautifulsoup4     4.8.2     
certifi            2019.11.28
chardet            3.0.4     
Django             3.0.4     
django-bootstrap4  1.1.1     
django-user-agents 0.4.0     
idna               2.9       
pip                20.0.2    
python-memcached   1.59      
pytz               2019.3    
PyYAML             5.3.1     
requests           2.23.0    
setuptools         46.1.1    
six                1.14.0    
soupsieve          2.0       
sqlparse           0.3.1     
ua-parser          0.10.0    
urllib3            1.25.8    
user-agents        2.1       
wheel              0.34.2    
